.page {
  background: #e5e5e5;
  color: #757575;
}
/* цвет основного текста color: #757575; */
/* вторичный цвет текста  color: #212121; */
/* акцент синий   color: #2196F3$ */
/* белый color: #FFFFFF  */
/* основной фон  background: #e5e5e5; */
/* второстепенный фон  background: #F5F4FA*/
ul {
  list-style: none;
}
.logo {
  color: #212121;
}
.site-nav .link:hover .site-nav .link:focus {
  color: #757575;
}
